.img-max {
    max-width: 160px;
    width: 100%;
}

input.form-control[type=checkbox] {
    appearance: auto;
    height: 34px;
}

.navbar-dark .navbar-brand {
    font-size: 1.5rem;
    color: #f2bc36;
}

