@page "/authors/edit/{id:long}"
@page "/authors/create"

<link href="/css/blazorValidation.css" rel="stylesheet" />

<h4 class="bg-@Theme text-center text-white p-2">Authors @Mode</h4>

<EditForm Model="AuthorData" OnValidSubmit="HandleValidSubmit">

    <DataAnnotationsValidator />

    @if (Mode == "Edit")
    {
        <div class="form-group">
            <label>ID</label>
            <InputNumber class="form-control" @bind-Value="AuthorData.Id" readonly />
        </div>
    }
    <div class="form-group">
        <label>Name</label>
        <ValidationMessage For="@(() => AuthorData.Name)" />
        <InputText class="form-control" @bind-Value="AuthorData.Name" />
    </div>
    <div class="text-center" p-2>
        <ValidButton type="submit" BtnTheme="@Theme">Save</ValidButton>
        <NavLink class="btn btn-secondary" href="authors">Back</NavLink>
    </div>
</EditForm>


@code {

    [Inject]
    public HttpClient? Http { get; set; }

    [Inject]
    public NavigationManager? NavManager { get; set; }

    [Parameter]
    public long Id { get; set; }

    public AuthorDTO AuthorData { get; set; } = new AuthorDTO() { Name = string.Empty };

    protected async override Task OnParametersSetAsync()
    {
        if (Http != null)
        {
            if (Mode == "Edit")
            {
                AuthorData = await Http.GetFromJsonAsync<AuthorDTO>($"/api/r1/authors/{Id}") ?? new() { Name = string.Empty };
            }
        }
    }

    public string Theme => Id == 0 ? "primary" : "warning";
    public string Mode => Id == 0 ? "Create" : "Edit";

    public async Task HandleValidSubmit()
    {
        if (Http != null)
        {
            if (Mode == "Create")
            {
                await Http.PostAsJsonAsync("/api/r1/authors",
                    new AuthorBindingTarget
                        {
                            Name = AuthorData.Name
                        });
            }
            else
            {
                await Http.PutAsJsonAsync("/api/r1/authors",
                    new AuthorUpdateBindingTarget
                        {
                            Id = AuthorData.Id,
                            Name = AuthorData.Name
                        });
            }

            NavManager?.NavigateTo("authors");
        }
    }
}
