.book-details {
    min-width: fit-content;
    margin: 1rem;
}

.coverContainer {
    margin-top: 1rem;
    height: 250px;
    position: relative;
}

.coverImage {
    margin: 0;
    width: 150px;
    max-height: 250px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
